body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 600px;
  min-height: 100px;
  margin: auto;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 78px;
}

.header__logo-image {
  width: 100%;
  height: auto;
  display: block;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 19px;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  min-height: 258px;
  padding: 7px 24px 32px 20px;
  background-image: url(./images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.cover__title {
  width: 100%;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover {
  padding: 7px 24px 32px 20px;
}

.intro {
  padding: 0 20px 38px;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

.footer {
  padding: 20px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  color: #ccc;
  font-size: 16px;
}

.intro__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.intro__date {
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.35;
}

.reasons {
  padding: 40px 20px;
}

.content-section__subtitle {
  margin-bottom: 32px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.content-section__introduction {
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 1.35;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 16px;
  font-size: 16px;
  line-height: 1.35;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px;
}

.content-section__subtitle2 {
  margin-bottom: 32px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.content-section__introduction2 {
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 1.35;
}

.accent-span2 {
  display: block;
  color: #f5f5f5;
}

.text-right2 {
  text-align: right;
  color: #f5f5f5;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;
  gap: 8px;
}

.article {
  display: block;
}

.card_theme_dark {
  background-color: #1f1f1f;
  color: #fff;
}

.card__author {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-bottom: 16px;
}

.card__author-photo {
  display: block;
  width: 100px;
  border-radius: 50%;
}

.card__author-name {
  margin: 8px 0 0;
  font-weight: 700;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__title {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.35;
  margin: 8 px auto;
}

.card__text {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.card_theme_bright {
  color: #141414;
  background-color: #fee42a;
}
.card__title2 {
  width: 279px;
  height: 59px;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #131313;
}

.card__text2 {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fee42a;
  padding: 20px;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__links a {
  color: #f5f5f5;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}
