h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 51px 89px;
  font-family: "Raleway", sans-serif;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  text-transform: lowercase;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: inherit;
}

.header__link_active {
  text-decoration: none;
  list-style-type: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  justify-self: end;
  font-style: inherit;
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-family: "Raleway", sans-serif;
}

.address a {
  color: black;
}

.address a:hover {
  text-decoration: underline;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/lotus-flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-family: "Raleway", sans-serif;
}

.aligned-text {
  display: block;
}

.aligned-text_left { 
  text-align: left; 
}


.aligned-text_center { 
  text-align: center; 
}

.aligned-text_right { 
  text-align: right; 
}

.letter-spacing-extended { 
  letter-spacing: 30px; 
}

.no-letter-spacing { 
  letter-spacing: 0; 
}

.cover__description {
  position: relative;
  display: flex;
  z-index: 1;
  gap: 78px;
  padding-top: 136px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  color: #FFF;
  line-height: 1.27;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 14px 32px;
  color: #FFF;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  transition: 0.3s;
  margin-left: auto;
}

.bet-button:hover {
  color: #000;
  background-color: #FFF;
}


/* === LOTS SECTION === */
.lots {
  padding-top: 180px;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  padding: 0 0 30px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  text-align: left;
  min-height: 596px;
  min-width: 334px;
  padding: 50px 40px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 0;
}

.card_type_film { background-image: url(../images/photo.png); }
.card_type_book { background-image: url(../images/photo-4.png); }
.card_type_picture { background-image: url(../images/photo-3.png); }

.card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-family: "Raleway", sans-serif;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
}


/* === ABOUT SECTION === */
.about {
  margin-top: 155px;
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  width: 291px;
  height: 47px;
  left: 0px;
  top: 3px;
  white-space: nowrap;       
  margin: 0;                 
  padding: 0;
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}


.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Raleway", sans-serif;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
  font-family: "Raleway", sans-serif;
}

/* === FOOTER === */
.footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 180px 50px 80px;
}

.address {
  display: flex;
  justify-self: end;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.footer__menu {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.footer__links-list {
  text-align: center;    
  list-style: none;  
  text-decoration: none;           
}

.footer__links-list-item {
  text-transform: lowercase;
}

.footer__link {
  text-decoration: underline;
  color: inherit;
}

.footer__link.header__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;          
  justify-content: center; 
  align-items: center;    
  gap: 48px;              
  list-style: none;       
  margin: 0;              
  padding: 0;             
}

.footer__social-icon {
  width: 48px;            
  height: 48px;
}
