.page {
  max-width: 1100px; 
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif; 
  font-style: normal;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

.header {
  position: relative;  
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 0 89px;
  font-family: "Raleway", sans-serif; 
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  margin-left: 52px;
  padding: 0;
  align-items: center;
  font-size: 18px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: inherit;
  text-transform: lowercase;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 148px;

}

.header__logo-image {
  width: 100%;
}

.address { 
  justify-self: end; 
  font-style: inherit; 
  display: flex; 
  flex-direction: column; 
  gap: 1px; 
  width: 240px; 
  height: 98px; 
  font-size: 18px; 
  margin-right: 52px; 
  margin-top: 7px;  
  border-width: 1px; 
  font-family: "Raleway", sans-serif; 
}

.address a {
  color: black;
}

.address a:hover {
  text-decoration: underline;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover {
  position: relative;
  padding: 165px 0 50px; 
  background-image: url(../images/lotus-flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 757px;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.aligned-text_left {
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 15px; 
  position: relative;
  top: 0; 
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-left: 30px; 
  position: relative;
  top: -12px; 
}

.aligned-text_right {
  display: block;
  text-align: right;
  margin-right: 20px; /* оставляем твой отступ справа */
  position: relative;
  top: -10px; /* заменяет margin-top: -5px */
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-top: 136px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  color: #FFF;
  line-height: 1.27;
  word-spacing: 18px;
  position: relative;
  top: -30px;   
  left: 50px;   
}

.bet-button {
  border: 1px solid #FFF;
  padding: 14px 32px;
  color: #FFF;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 22px;
  transition: 0.3s;
  margin-left: auto;
  position: relative;
  top: -45px;   
  right: 50px; 
}

.bet-button:hover {
  color: #000;
  background-color: #FFF;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  padding: 0 0 30px 0; 
  position: relative;
  top: 6px;   
  left: 40px; 
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(334px, 1fr));
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0 24px; 
  padding: 0;
  position: relative;
  top: 7px;   
}

.lots__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  min-height: 596px;
  padding: 50px 40px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.card_type_film { background-image: url(../images/photo.png); }
.card_type_book { background-image: url(../images/photo-4.png); }
.card_type_picture { background-image: url(../images/photo-3.png); }

.card__title,
.card__text {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.lots__look-more-link {
  display: block;
  margin-top: 40px;   
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-decoration: underline; 
}

.about { 
  margin-top: 155px; 
  display: grid; 
  grid-template-columns: 240px 1fr; 
  column-gap: 24px; 
  padding: 0 50px; 
} 

.about__column { 
  justify-self: center; 
} 

.about__column_text { 
  grid-column: 2/4; 
} 

.about__logo { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 240px; 
  height: 240px; 
  border-radius: 50%; 
  background-color: #000; 
  margin-left: 40px;
} 

.about__logo-image { 
  width: 148px; 
  height: 114px; 
} 

.about__title { 
  width: 291px; 
  white-space: nowrap;        
  margin: 0;                  
  padding: 100px 0 104px; 
  font-weight: bold; 
  font-size: 40px; 
  line-height: 1; 
  text-transform: uppercase; 
  font-family: "Raleway", sans-serif; 
  margin-left: 70px;
  margin-top: 5px;
} 

.about__text { 
  display: flex; 
  flex-direction: column; 
  gap: 25px; 
  font-family: "Raleway", sans-serif; 
} 

.about__text p { 
  font-size: 20px; 
  line-height: normal; 
  margin-left: 70px;
} 

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 0 80px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
}

.footer__links-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: 0px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  position: relative;
  top: -7px;       /* поднимаем вверх */
  right: -50px;     /* смещаем вправо */
  text-align: left;
}

.footer__links-list-item {
  list-style: none;
  text-transform: lowercase;
}

.footer__link {
  text-decoration: underline;
  color: inherit;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  margin-right: 50px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
