.page {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 0 92px;
  font-family: "Raleway", sans-serif;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  margin-left: 52px;
  margin-bottom: 10px;
  padding: 0;
  align-items: center;
  font-size: 18px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: inherit;
  text-transform: lowercase;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.address {
  justify-self: end;
  font-style: inherit;
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 240px;
  line-height: 24.3px;
  font-size: 18px;
  margin-right: 50px;
  margin-bottom: 5px;
  border-width: 1px;
  font-family: "Raleway", sans-serif;
}

.address__link {
  color: black;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/lotus-flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 757px;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: flex;
}

.aligned-text_left {
  justify-content: flex-start;
}

.aligned-text_center {
  justify-content: center;
  margin-right: -30px;
}

.aligned-text_right {
  justify-content: flex-end;
  margin-right: -30px;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 120px 0 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  color: #fff;
  line-height: 1.27;
  word-spacing: 18px;
  position: relative;
  z-index: 2;
}

.bet-button {
  border: 1px solid #fff;
  height: 51px;
  padding: 10px 32px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 22px;
  transition: 0.3s;
  margin-left: auto;
  margin-top: -15px;
  align-self: flex-start;
}

.bet-button:hover {
  color: #000;
  background-color: #fff;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  position: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  padding: 10px 40px 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(334px, 1fr));
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  min-height: 596px;
  padding: 50px 40px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/photo.png);
}

.card_type_book {
  background-image: url(../images/photo-4.png);
}

.card_type_picture {
  background-image: url(../images/photo-3.png);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #ffffff;
  z-index: 2;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-decoration: underline;
}

.about {
  margin-top: 155px;
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 40px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  width: 291px;
  white-space: nowrap;
  margin: 0;
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-left: 70px;
  margin-top: 5px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Raleway", sans-serif;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
  margin-left: 70px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 0 80px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
}

.footer__links-list {
  text-align: center;
  list-style: none;
  margin: 0 50px 30px 0;
  padding: 0;
}

.footer__links-list-item {
  list-style: none;
  text-transform: lowercase;
}

.footer__link {
  text-decoration: underline;
  color: inherit;
}

.footer__link_active {
  text-decoration: none;
}

.footer__address {
  text-align: left;
  margin-left: 50px;
  margin-top: 7px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  list-style: none;
  margin: 0 50px 50px 0;
  padding: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}

